<a href="https://colab.research.google.com/github/mpolancob/AlgorithmsUN2022II/blob/main/Quiz6/Quiz6Template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Group N Quiz 6

## Members

1.   List item
2.   List item

In [1]:
import pandas as pd  
  
# assign data of lists.  
data = {'LMA': [  200, 200, 200 ,150, 150, 150,  100, 100, 100,], 
        'SMA': [20,30,40,20,30,40,20,30,40] , 
        'R6M': [ 0.6020438054096354,  0.6020438054096354 ,  0.6020438054096354,  0.6020438054096354, 0.6020438054096354, 0.6020438054096354,  0.39016365426823774,  0.08594456771497737, -0.07820457661246207 ], 
        'R2Y': [ -0.9584794702095274 ,  -0.886785529925374,  -0.8636042935082054,  -0.6018745360028023,  -0.6002766807684321, -0.5112604766096275,  -0.8244847380199417 ,  -0.8102165810520495,  -0.6931168833749971]}  
  
# Create DataFrame  
df = pd.DataFrame(data)  

df['AR'] = (df['R6M'] + df['R2Y'])/2

df = df.sort_values(by=['AR'], ascending=False)
  
df

   LMA  SMA       R6M       R2Y        AR
5  150   40  0.602044 -0.511260  0.045392
4  150   30  0.602044 -0.600277  0.000884
3  150   20  0.602044 -0.601875  0.000085
2  200   40  0.602044 -0.863604 -0.130780
1  200   30  0.602044 -0.886786 -0.142371
0  200   20  0.602044 -0.958479 -0.178218
6  100   20  0.390164 -0.824485 -0.217161
7  100   30  0.085945 -0.810217 -0.362136
8  100   40 -0.078205 -0.693117 -0.385661